In [4]:
import numpy as np
import pandas as pd
dates = pd.date_range('20170505', periods = 8)
df = pd.DataFrame(np.random.randn(8,3), index=dates, columns=list('ABC'))
df

                   A         B         C
2017-05-05  0.833098 -0.339953  0.780228
2017-05-06  1.472005 -0.385319 -0.256503
2017-05-07 -0.652569  1.348300 -0.040638
2017-05-08 -0.586638  0.121370 -0.275240
2017-05-09 -0.385046 -0.282213  0.899055
2017-05-10  1.137672  1.650891 -0.909103
2017-05-11  1.178133 -0.298093 -0.056527
2017-05-12  1.910696  0.891100 -0.869593

In [12]:
type(df[['A']])

pandas.core.frame.DataFrame